PORT=5001
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://USER:PASSWORD@HOST/InterpathResults
SLIS_BASE_URL=https://www.interpathresults.com/SLISMOB
SLIS_REPORTS_BASE_URL=https://www.interpathresults.com/SLISMOB
COOKIE_SECRET=change-me
NODE_ENV=development
